
{{>header}}
        <div class="about">
            <div class="wrapper target">
                <div class="text">
                    <h1>Who are We</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ullam mollitia commodi libero voluptatem excepturi maxime veniam quae. Perspiciatis excepturi ex quia! Illo hic voluptatibus, odio est quae ullam nam.</p>
                </div>
                <div class="photo">
                    <img src="/img/team/team-1.jpg" alt="team-1">
                </div>
            </div>

            <div class="wrapper target">
                <div class="text">
                    <h1>Our Team</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ullam mollitia commodi libero voluptatem excepturi maxime veniam quae. Perspiciatis excepturi ex quia! Illo hic voluptatibus, odio est quae ullam nam.</p>
                </div>
                <div class="photo">
                    <img src="/img/team/team-2.jpg" alt="team-2">
                </div>
            </div>

            <div class="wrapper target">
                <div class="text">
                    <h1>Team</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ullam mollitia commodi libero voluptatem excepturi maxime veniam quae. Perspiciatis excepturi ex quia! Illo hic voluptatibus, odio est quae ullam nam.</p>
                </div>
                <div class="photo">
                    <img src="/img/team/team-3.jpg" alt="team-3">
                </div>
            </div>

        </div>



