
{{>header}}
    <div class="add">
        <form>
            <div class="text">
                <input type="text" placeholder="Your Title *" required>
                <textarea placeholder="Your Content *" required></textarea>
                <input type="text" placeholder="Your Name *" required>
            </div>

            <div class="button">
                <button><i class="fa-solid fa-plus"></i></button>
                <label for="file">
                    <i class="fa-solid fa-image"></i>
                </label>
                <input type="file" id="file" style="display: none;">
            </div>
        </form>
    </div>



