



{{>header}}

        <div class="home">
            <div class="wrapper">
                <div class="posts">
                    <div class="post target">
                        <h1>Title</h1>
                        <img src="/img/background/content-1.jpg" alt="c1">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil esse voluptatem facere sit inventore recusandae natus, dignissimos reprehenderit! Ea, aperiam optio! Quidem unde recusandae eligendi ratione dolorem, eaque aliquam.
                        </p>
                        <div class="authorAndDate">
                            <span><strong>Orkun Y覺lmaz</strong></span>
                            <span><strong>00.00.0000</strong></span>
                        </div>
                    </div>

                    <div class="post target">
                        <h1>Title</h1>
                        <img src="/img/background/content-1.jpg" alt="c1">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil esse voluptatem facere sit inventore recusandae natus, dignissimos reprehenderit! Ea, aperiam optio! Quidem unde recusandae eligendi ratione dolorem, eaque aliquam.
                        </p>
                        <div class="authorAndDate">
                            <span><strong>Orkun Y覺lmaz</strong></span>
                            <span><strong>00.00.0000</strong></span>
                        </div>
                    </div>
                    <div class="post target">
                        <h1>Title</h1>
                        <img src="/img/background/content-1.jpg" alt="c1">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil esse voluptatem facere sit inventore recusandae natus, dignissimos reprehenderit! Ea, aperiam optio! Quidem unde recusandae eligendi ratione dolorem, eaque aliquam.
                        </p>
                        <div class="authorAndDate">
                            <span><strong>Orkun Y覺lmaz</strong></span>
                            <span><strong>00.00.0000</strong></span>
                        </div>
                    </div>

                    <div class="post target">
                        <h1>Title</h1>
                        <img src="img/background/content-1.jpg" alt="c1">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil esse voluptatem facere sit inventore recusandae natus, dignissimos reprehenderit! Ea, aperiam optio! Quidem unde recusandae eligendi ratione dolorem, eaque aliquam.
                        </p>
                        <div class="authorAndDate">
                            <span><strong>Orkun Y覺lmaz</strong></span>
                            <span><strong>00.00.0000</strong></span>
                        </div>
                    </div>
                </div>
                
                <div class="sidebar">
                    <div class="area target">
                        <h3>Who I Am</h3>
                        <img src="/img/user/user-2.png" alt="user">
                        <div class="categories">
                            <span>#art</span>
                            <span>#design</span>
                            <span>#paint</span>
                            <span>#culture</span>
                        </div>
                    </div>

                    <div class="area target">
                        <h3>Your Space</h3>
                        <a href="/admin/add">Add Post</a>
                        <a href="/perfonce">Your Perfonce</a>             
                        <a href="/numberof">Number of Views</a>             
                    </div>
                </div>
            </div>
        </div>
