
    <div class="logReg">
        <img src="/img/background/login.jpg" alt="login">
        <form>
            
            <div class="formGroup">
                <input type="text" required>
                <span>Username *</span>
            </div>

            <div class="formGroup">
                <input type="text" required>
                <span>Password *</span>
            </div>

            <div class="btnGroup">
                <a href="/register">Do you have an account</a>
                <button>Login</button>
            </div>
            
        </form>
    </div>


