
    <div class="logReg">
        <img src="/img/background/register.jpg" alt="register">
        <form id="register">
            <div class="formGroup">
                <input name="email" type="text" required>
                <span>Email *</span>
            </div>

            <div class="formGroup">
                <input name="username" type="text" required>
                <span>Username *</span>
            </div>

            <div class="formGroup">
                <input name="password" type="text" required>
                <span>Password *</span>
            </div>

            <div class="btnGroup">
                <a href="/login">Don't you have an account</a>
                <button>Register</button>
            </div>
            
        </form>
    </div>

    <script>
        const register=document.getElementById("register")

        register.addEventListener("submit",(e) => {
            e.preventDefault()

        const formData= new FormData(e.target)

            fetch("/register/data/200", {
                method:"get",
            })
        })
    </script>

